@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap&family=Raleway:wght@600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
    background-color: #e5e5e5;
    
}

input{
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: .1rem solid #ccc;
}

/* body{
    display: grid;
    justify-content: center;
    align-content: center;
} */

div.center{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: .125rem 2%;
}

div.box_login{
    max-width: 37.5rem;
    width: 100%;
    padding: 2.5rem 2%;
    background-color: #2b2b2b;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 .125rem 4px #111;
}

div.box_login h2{
    color: #FFF200;
    font-size: 2rem;
    text-shadow: 0 .125rem 4px #111;
    font-weight: normal;
}

div.box_login input{
    width: 96%;
    height: 2.5rem;
    border: none;
    border-radius: 25rem;
    padding-left: .5rem;
    margin-top: 1rem;
    outline: none;
    text-indent: .5rem;
}

div.box_login input::placeholder{
    text-align: center;
    color: #2b2b2b;
}


div.box_login input[type=submit]{
    width: 40%;
    height: 2.25rem;
    margin-top: 1.25rem;
    cursor: pointer;
    background-color: #6FCF97;
    font-size: 1.5rem;
    text-shadow: 0rem .125rem 4px #111;
    color: white;
    text-indent: 0;
}

div.box_login input[type=submit]:hover{
    background-color: #6fcf97d0;
}



/* box error do painel */

div.erro_box{
    background: linear-gradient(to left, #ff2a2a, #ff2a2a);
}

div.callback_success{
    background: linear-gradient(to left, #6FCF97, #6FCF97);
}


div.erro_box,
div.callback_success{
    padding: .5rem;
    height: 2rem;
    text-align: left;
    position: relative;
    top: -.5rem;
    color: white;
    font-weight: bold;
    text-shadow: -0.05rem .1rem 4px rgba(0, 0, 0, .6);
}

div.erro_box::before{
    border-top: .95rem solid #ff2a2a;
}

div.callback_success::before{
    border-top: .95rem solid #6FCF97;
}

div.erro_box::before,
div.callback_success::before{
    content: '-';
    font-size: .005px;
    position: absolute;
    bottom: -40%;
    /* background: linear-gradient(to left, #6FCF97, #6FCF97); */
    border-right: .8rem solid transparent;
    border-left:  .8rem solid transparent;
}

/* main */
section.topo_painel{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
}

/* aside */
aside{
    background: #2b2b2b;
    width: 25%;
    height: 100%;
    overflow-y: auto;
    padding: .5rem 0;
    margin-left: -25%;
    z-index: 9999999;
    transition: all 1s;
}

aside a.menu-active{
    background-color: #3D3D3D;
}

aside a.menu-active::before{
    content: ' \00BB  ';
    font-size: 1.2rem;
    color: #111;
}

.show-sidebar aside{
    margin-left: 0;
}

div.box_user{
    width: 100%;
    text-align: center;
}

div.box_user div.avatar_user{
    width: 6rem;
    height: 6rem;
    border-radius: 25rem;  
    border: .2rem solid #111;
    margin: 2% auto;
}

div.box_user div.avatar_user i{
    margin-top: 1rem;
    font-size: 3.25rem;
    color: white;
    text-shadow: 0 -.125rem 4px #111;
}

div.box_user div.imagem_user{
    width: 6rem;
    height: 6rem;
    border-radius: 25rem;  
    border: .3rem solid #111;
    margin: 2% auto;
    background-color: #323232;
}

div.box_user div.imagem_user img{
    width: 5.2rem;
    height: 5.4rem;
    border-radius: 25rem;
}


div.box_user div.nome_user p{
    color: white;
    font-weight: 400;
}
div.box_user div.nome_user span{
    color: white;
    font-size: .85rem;
    font-weight: 300;
}


div.items_menu{
    margin: 2% 0;
    width: 100%;
    height: auto;
}

div.items_menu h2{
    padding: .5rem .4rem;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    background-color: #222;
}

div.items_menu a{
    padding: .5rem .4rem;
    display: block;
    color: white;
    text-decoration: none;
    border-collapse: separate;
    font-size: .75rem;
    border-bottom: .2rem solid #222;
}

div.items_menu a:hover{
    background-color: #3D3D3D;
}


/* header */
header{
    width: 100%;
    height: 3rem;
    background-color: #3D3D3D;
}

header div.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.center div.menu_btn{
    width: 3rem;
    height: auto;
}

header div.center div.menu_btn span:first-of-type{
    color: white;
    font-size: 3rem;
    padding-right: 1rem;
    cursor: pointer;
}

header div.center div.menu_btn span:last-of-type{
    display: none;
    color: white;
    font-size: 3rem;
    padding-right: 1rem;
    cursor: pointer;
}

section.show-sidebar header div.center div.menu_btn span:first-of-type{
    display: none;
}
section.show-sidebar header div.center div.menu_btn span:last-of-type{
    display: inline;
}

header div.home_btn{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    text-align: right;

}

header div.home_btn a{
    color: white;
}

header div.loggout{
    width: auto;
    font-size: 2rem;
    text-align: right;
}

header div.loggout a{
    color: white;
    vertical-align: middle;
}

header div.loggout span{
    visibility: hidden;
    position: relative;
    top: -.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ccc;
    border: none;
    background:linear-gradient(to right, rgba(1, 1, 1, .8), rgba(1, 1, 1, .6) );
    padding: .1rem .3rem;
    margin-right: 1rem;
}
header div.loggout span::after{
    position: absolute;
    right: -36.5%;
    top: 0;
    content: '-';
    font-size: .005px;
    border-top: .7rem solid transparent;
    border-bottom: .8rem solid transparent;
    border-left: .9rem solid  rgba(1, 1, 1, .6);
}

header div.loggout:hover span{
    visibility: visible;
}

div.painel_content{
    width: 100%;
    height: calc(100% - 3rem);
    position: absolute;
    top: 3rem;
    left: 0;
    padding: .75rem;
    transition: all .7s ease-in-out;
}

.show-sidebar ~ div.painel_content{
    width: 75%;
    left: 20%;
}

div.painel_content div.box_content{
    width: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    margin-bottom: 1.25rem;

}

div.painel_content div.box_content h1{
    padding: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

div.painel_content div.box_content div.div_content_wrap{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div.painel_content div.box_content div.div_content_wrap div{
    margin: 2% auto;
    width: 32.5%;
    min-width: 13rem;
    height: auto;
    padding: 0rem 1rem 1rem 1rem; 
    color: white;
}

div.painel_content div.box_content div.div_content_wrap .users_on{
    background-color: orange; 
}

div.painel_content div.box_content div.div_content_wrap .all_visits{
    background-color: tomato;
}

div.painel_content div.box_content div.div_content_wrap .today_visits{
    background-color: green;
}

div.painel_content div.box_content div.div_content_wrap div h2{
    font-weight: 300;
    padding: .5rem 0;
}

/* tabela responsiva */

div.box_content table{
    margin: 2% auto;
    width: 100%;
    max-width: 60rem;
    height: auto;
    text-align: left;
    border-collapse: collapse;
    border-right: .1rem solid #3f3f3f;
    border-left: .1rem solid #3f3f3f;
    background-color: #f5f5f5;
}

div.box_content table th{
    padding: .7rem .55rem;
    width: 2% auto;
    height: 2rem;
    background-color: #3D3D3D;
    color: white;
    font-weight: normal;
}

div.box_content table tr{
    width: 100%;
}
div.box_content table tr td{
    font-size: .9rem;
    color: #3D3D3D;
    padding: .5rem;
    width: auto;
    height: 1.5rem;
    border-bottom: .1rem solid #3d3d3d;
}

.box_content form{
    margin: 2rem 0;
}

.box_content form label{
    font-size: 1.1rem;
    font-weight: 300;
    color: black;
}

.box_content .form_group{
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.box_content form input[type=text],
.box_content form input[type=password]
{
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    height: 2.5rem;
    padding-left: .5rem;
}

.box_content form select{
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    height: 2.75rem;
    padding: .5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: .1rem solid #ccc;
    cursor: pointer;
}

.box_content form .down-arrow::after{
    display: block;
    text-align: right;
    margin-top: -2.25rem;
    content: '\2193';
    font-size: 1.75rem;
    color: #aaa;
    cursor: pointer;
}

.box_content form input[type=file]{
    margin-top: .5rem;
    width: 100%;
    padding: .5rem;
    border: .1rem solid #ccc;
    border-radius: .25rem;
}

.box_content form input[type=submit]{
    display: block;
    width: 100%;
    height: 2.25rem;
    margin: 2% auto;
    cursor: pointer;
    background-color: #6FCF97;
    font-size: 1.5rem;
    text-shadow: 0rem .125rem 4px #111;
    color: white;
    border: .1rem solid green;
    border-radius: .25rem;
    text-indent: 0;
}

.box_content form input[type=submit]:hover{
    background-color: #6fcf97d0;
}



@media (max-width: 768px){
    /* aside */
    aside{
        width: 60%;
        margin-left: -60%;
    }

    div.box_user div.avatar_user{
        width: 4rem;
        height: 4rem;
    }
    
    div.box_user div.avatar_user i{
        font-size: 2.5rem;
    }
    
    div.box_user div.imagem_user{
        width: 4rem;
        height: 4rem;
    }
    
    div.box_user div.imagem_user img{
        width: 3.2rem;
        height: 3.4rem;
    }
    
    div.box_user div.nome_user p{
        font-size: .9rem;
    }
    div.box_user div.nome_user span{
        font-size: .75rem;
    }

    /* header */
    
    header div.center div.menu_btn{
        width: 2rem;
    }
    
    header div.center div.menu_btn span{
        font-size: 1.5rem;
        padding-right: .7rem;
    }

    .show-sidebar ~ div.painel_content{
        width: 100%;
        left: 0%;
    }

}

@media (max-width: 576px){
    aside{
        width: 100%;
        margin-left: -100%;
    }

    header div.loggout span{
        display: none;
    }

    div.painel_content div.box_content > h1{
        padding: 1rem 0;
        font-weight: normal;
        font-size: 1.25rem;
    }
    
}